html, body{
    height: 100%;
    width: 100%;
    background-color: var(--primary-cell-bg-color);
}
.navbar-translucent {
    background-color: rgba(255, 255, 255, .15) !important;  
    backdrop-filter: blur(5px) !important;
 }
.global-content {
    width: 100px;
    height: 100px;
    position: relative;
}
.content{
    z-index: 10;
}
.background-image{
    background-image: linear-gradient(41deg, rgba(255,255,255,0.2) 0%, rgba(0,0,0,0.6) 100%), url("../background.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.how-to-play{
    padding-top: 12px;
    font-family: Architects Daughter;
    font-size: 1.2rem;
}
.alert{
    backdrop-filter: blur(2px) !important;
}
.santa-bingo-header{
    color: #00B32C;
    text-align: center;
    font-family: Nerko One;
    font-size: 3.6rem !important;
}
.santa-bingo-navtext{
    color: #00B32C !important;
    font-family: Nerko One;
    font-size: 1.2rem !important;
}
.called{
    background-color: #00B32C !important;
}
.reset-card{
    padding-top: 60px;
}
.call-button{
    padding-bottom: 30px;
}
th:first-child, td:first-child{
  position:sticky;
  left:0px;
  background-color: var(--primary-cell-bg-color);
  color: var(--normal-text);
}

.table{
    color: var(--normal-text)
}

#callResult{
    color: var(--normal-text);

}

.swal2-popup {
    background: var(--primary-cell-bg-color) !important;
}
.swal2-title, .swal2-content{
    color: var(--normal-text) !important;
}
.swal2-icon.swal2-warning {
    border-color: var(--uncovered-text) !important;
    color: var(--uncovered-text) !important;
}

:root {
    --primary-cell-bg-color: #E3E3E3;
    --cell-outline-color: #CCCCCC;
    --normal-text: #212529;
    --red-text: #E40010;
    --uncovered-text: #E40010;
    --covered-text: #00B32C;
    --btn-bg-color: #F8F9FA;
    --btn-color: #212529;
    --btn-hover-bg-color: #e2e6ea;
}

/* Dark Theme */
@media (prefers-color-scheme: dark) {
    :root {
        --primary-cell-bg-color: #1F1A24;
        --cell-outline-color: #332940;
        --normal-text: #E3E3E3;
        --red-text: #E40010;
        --uncovered-text: #FFC745;
        --covered-text: #00B32C;
        --btn-bg-color: #212529;
        --btn-color: #F8F9FA;
        --btn-hover-bg-color: #212529;
    }
}