html, body{
    height: 100%;
    width: 100%;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.navbar-translucent {
    background-color: rgba(255, 255, 255, .15) !important;  
    backdrop-filter: blur(5px) !important;
 }
.global-content {
    width: 100px;
    height: 100px;
    position: relative;
}
.content{
    z-index: 10;
}
.background-image{
    background-image: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,5,36,0.7) 100%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.how-to-play{
    padding-top: 12px;
    font-family: Architects Daughter;
    font-size: 1.2rem;
}
.alert{
    backdrop-filter: blur(2px) !important;
}
.santa-bingo-header{
    color: var(--red-text);
    text-align: center;
    font-family: Nerko One;
    font-size: 3.6rem !important;
}
.santa-bingo-navtext{
    color: var(--red-text) !important;
    font-family: Nerko One;
    font-size: 1.2rem !important;
}
.top-row{
    color: var(--uncovered-text);
    text-align: center;
    font-family: Nerko One;
    font-size: 3.6rem !important;
    background-color: var(--primary-cell-bg-color);
    outline: 2px solid var(--cell-outline-color);
    height: 90px;
    line-height: 90px;
}
.number-rows{
    color: var(--uncovered-text);
    text-align: center;
    font-family: Architects Daughter;
    font-size: 3.5vh !important;
    line-height: 90px;
    height: 90px;
    background-color: var(--primary-cell-bg-color);
    outline: 2px solid var(--cell-outline-color);
}
.top-row-container{
    padding-bottom: 60px;
}
.bingo-card{
    position: absolute;
    width: 100%;
    left: 0;
}
.free-spot{
    color: var(--covered-text);
    text-align: center;
    font-family: Architects Daughter;
    font-size: 3.5vh !important;
    height: 90px;
    line-height: 125px;
    outline: 2px solid var(--cell-outline-color);
    background-image: url("../santa.webp"), url("../santa.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--primary-cell-bg-color);

}
.overlay{
    color: var(--covered-text);
    text-align: center;
    font-family: Architects Daughter;
    font-size: 3.5vh !important;
    height: 90px;
    line-height: 125px;
    outline: 2px solid var(--cell-outline-color);
    background-image: url("../santa.webp"), url("../santa.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--primary-cell-bg-color);
}
.reset-card{
    padding-top: 60px;
}
.btn-reset {
    color: var(--btn-color);
    background-color: var(--btn-bg-color);
    border-color: var(--btn-bg-color);
}
.btn-reset:hover {
    color: var(--btn-color);
    background-color: var(--btn-hover-bg-color);
    border-color: #dae0e5;
}
.btn:hover {
    color: var(--btn-color);
    text-decoration: none;
}
.swal2-popup {
    background: var(--primary-cell-bg-color) !important;
}
.swal2-title, .swal2-content{
    color: var(--normal-text) !important;
}
.swal2-icon.swal2-warning {
    border-color: var(--uncovered-text) !important;
    color: var(--uncovered-text) !important;
}
/* Light Theme */
:root {
    --primary-cell-bg-color: #E3E3E3;
    --cell-outline-color: #CCCCCC;
    --normal-text: #212529;
    --red-text: #E40010;
    --uncovered-text: #E40010;
    --covered-text: #00B32C;
    --btn-bg-color: #F8F9FA;
    --btn-color: #212529;
    --btn-hover-bg-color: #e2e6ea;
}

/* Dark Theme */
@media (prefers-color-scheme: dark) {
    :root {
        --primary-cell-bg-color: #1F1A24;
        --cell-outline-color: #332940;
        --normal-text: #E3E3E3;
        --red-text: #E40010;
        --uncovered-text: #FFC745;
        --covered-text: #00B32C;
        --btn-bg-color: #212529;
        --btn-color: #F8F9FA;
        --btn-hover-bg-color: #212529;
    }
}